.slider {
  margin-left: 20%;
}

.bg {
  width: 100%;
}
.carousel-cell {
  background-color: var(--lightGrey);
  width: 100%;
  counter-increment: carousel-cell;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;  
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: changeImage 1s ease-in-out;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0;
  padding: 0px;
  position: absolute;
  transition: opacity 1s ease-in-out;
  animation: changeImage 1s ease-in-out;
}

@keyframes changeImage {
  from { background-image:  none; opacity: 0 }
  to { background-image: inherit; opacity: 1 }
}

.flickity-prev-next-button {
  left: 0px;
  right: 0px;
  width: 7.5vh;
  height: 7.5vh;
  background: var(--darkGrey);
  border-radius: 0px;
  border: 0px;
}

.flickity-prev-next-button:disabled {
  opacity: 1 !important;
}

.flickity-prev-next-button:hover {
  background: var(--black);
}

.next {
  margin-top: 26.1vh;
}

.previous {
  margin-top: 33.5vh;
  left: 0px !important;
}

.flickity-prev-next-button .arrow {
  fill: var(--lightGrey);
}

.content-container {
  font-family: "Freight Display Pro Book";
  margin-top: 20vh;
  margin-left: 10.5%;
  z-index: 5;
  width: 30%;
}

.title {
  /* font-size: 2em; */
  /* margin-bottom: 0.5em; */
  
}

.button {
  font-family: 'Apercu Medium';
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid var(--darkGrey);
  width: 50%;
  font-size: 0.25em;
}

.button:hover {
  background-color: var(--darkGrey);
  color: white;
}


/* media queries */

@media only screen and (max-width: 660px) {
    .layout {
      float: left;
    }

    .slider {
      margin-left: 0px;
    }

    .carousel-cell {
      width: 100%;
    }

    .flickity-prev-next-button {
      position: fixed;
      left: auto !important;
      right: 0;
      width: 5vh;
      height: 5vh;
      background: var(--darkGrey);
      border-radius: 0px;
      border: 0px;
      padding: 0px;
    }

    .next {
      right: 0px !important;
      margin: 0vh;
    }

    .previous {
      margin-top: 5vh;
    }
    

    .content-container {
      position: relative;
      margin: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .description {
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
}
